.fill-window {
	height: 100%;
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;
	padding-top: 70px;
}
.avatar {
	width: 150px;
	height: 150px;
}
.avatarMenu {
	width: 25px;
	height: 25px;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
